[submodule "vendor/emscripten"]
	path = vendor/emscripten
	url = git://github.com/kripken/emscripten.git
	ignore = dirty
[submodule "vendor/zlib.js"]
	path = vendor/zlib.js
	url = git://github.com/imaya/zlib.js.git
	ignore = dirty
[submodule "zopfli"]
	path = zopfli
	url = git://github.com/imaya/zopfli-for-emscripten.git
	ignore = dirty
